<h1 mat-dialog-title>Add runner</h1>
<div mat-dialog-content>
  <p *ngIf="!errMessage">Entry</p>
  <p class="warn" *ngIf="errMessage">{{errMessage}}</p>
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input cdkFocusInitial matInput [(ngModel)]="data.name" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Team</mat-label>
    <input matInput [(ngModel)]="data.team" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Place</mat-label><!-- Really to set the initial time behind the scenes -->
    <input type="number" matInput [(ngModel)]="data.place" (input)="updateTime()" min="1" />
  </mat-form-field>
  <br />
  <mat-label *ngIf="data.time">Time: </mat-label>{{data.time}}
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button color="primary" (click)="addClick()">Add</button>
</div> 

