<h1 mat-dialog-title>Add runner</h1>
<div mat-dialog-content>
  <p *ngIf="!errMessage">Entry</p>
  <p class="warn" *ngIf="errMessage">{{errMessage}}</p>
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input cdkFocusInitial matInput [(ngModel)]="data.name" />
  </mat-form-field>
  <mat-form-field class="half">
    <mat-label>Team</mat-label>
    <input matInput [(ngModel)]="data.team" />
  </mat-form-field>
  <mat-form-field class="half margin-left">
    <mat-label>YR</mat-label>
    <input maxlength="5" placeholder="SR" matInput [(ngModel)]="data.year" />
  </mat-form-field>
  <mat-form-field class="half">
    <mat-label>Minutes</mat-label>
    <input type="number" matInput [(ngModel)]="data.minutes" min="0" max="59" (input)="updatePlace()" />
  </mat-form-field>
  <mat-form-field class="half margin-left">
    <mat-label>Seconds</mat-label>
    <input type="number" matInput [(ngModel)]="data.seconds" min="0" max="59" (input)="updatePlace()" />
  </mat-form-field>
<!--   
  <mat-form-field>
    <mat-label>Place</mat-label>
    <input type="number" matInput [(ngModel)]="data.place" (input)="updateTime()" min="1" />
  </mat-form-field> 
-->
  <br />
  <mat-label *ngIf="data.place">Place: </mat-label>{{data.place}}
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button color="primary" (click)="addClick()">Add</button>
</div> 

