<mat-toolbar color="primary">  
  <span class="pointer" (click)="backToMain()">Easy XC</span>
</mat-toolbar>
<div class="content">

  <div *ngIf="!raceObj.title && !loading">
    <mat-form-field class="m-left">
      <mat-label>Year</mat-label>
      <mat-select [(value)]="filters.year">
        <mat-option value="2017">
          2017
        </mat-option>
        <mat-option value="2018">
          2018
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="m-left">
      <mat-label>Classification</mat-label>
      <mat-select [(value)]="filters.classification" (selectionChange)="clearDivision()">
        <mat-option value="college">
          College
        </mat-option>
        <mat-option value="highschool">
          Highschool
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf="filters.classification === 'highschool'" class="m-left">
      <mat-label>Division</mat-label>
      <mat-select [(value)]="filters.division">
        <mat-option value="">
        </mat-option>
        <mat-option value="utah">
          Utah
        </mat-option>
        <mat-option value="national">
          National
        </mat-option>
        <mat-option value="other">
          Other
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf="filters.classification === 'college'" class="m-left">
      <mat-label>Division</mat-label>
      <mat-select [(value)]="filters.division">
        <mat-option value="">
        </mat-option>
        <mat-option value="I">
          I
        </mat-option>
        <mat-option value="other">
          Other
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="m-left">
      <mat-label>Gender</mat-label>
      <mat-select [(value)]="filters.gender">
        <mat-option value="">
        </mat-option>
        <mat-option value="male">
          Male
        </mat-option>
        <mat-option value="female">
          Female
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-button color="primary" (click)="go()" [disabled]="filters.division === 'other'">Go</button>
    <div>
      <mat-action-list *ngIf="races$ | async; let races; else loading">
        <button matTooltip="{{race.gender + ' ' + race.year}}" matTooltipShowDelay="1000"
            matTooltipHideDelay="300" *ngFor="let race of races" mat-list-item (click)="setRace(race)">
          {{race.name}}
        </button>
      </mat-action-list>
    </div>
    <div *ngIf="this.results && !this.results.length || filters.division === 'other'">
      <br />
      No results found, please contact trevordowdle@gmail.com if you would like a race added.
    </div>
    <ng-template #loading>
      <div *ngIf="clicked">
        <br />
        Loading...
      </div>
    </ng-template>
  </div>

  <race-type1 *ngIf="raceObj.title" [raceObj]="raceObj">loading</race-type1>
</div>