
<mat-expansion-panel class="header" [(expanded)]="headerInfoExpanded" (closed)="detailsClosed($event)">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <span [ngClass]="{'primary-color': resultsModified}">Team Results</span>
    </mat-panel-title>
    <mat-panel-description class="no-wrap">
      <span *ngIf="!headerInfoExpanded">{{buildDesc()}}</span>
    </mat-panel-description>
  </mat-expansion-panel-header>
  <div class="btn-container">
    <br />
    <button mat-raised-button color="primary" [disabled]="!resultsModified" (click)="undoChanges()">
      Undo Result Changes
    </button>
    <button mat-raised-button color="primary" [disabled]="!raceLogic.hasGroupings" (click)="undoGroupings()">
      Undo Groupings
    </button>
    <button mat-raised-button color="primary" [disabled]="!raceLogic.hasGroupings && !resultsModified" (click)="saveChanges()">
      Save
    </button>
    <button mat-icon-button color="primary" (click)="showAddModal()">
      <mat-icon>person_add</mat-icon>
    </button>
  </div>
  <br />
  <div class="container"> 
    <table id="tblInfo" class="mat-elevation-z8">
      <thead>
        <tr>
          <th>PL</th>
          <th>TEAM</th>
          <th>Total Time</th>
          <th>Avg. Time</th>
          <th>Spread</th>
          <th>Score</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let key of scoringKeys; let i = index" (click)="showGroupingModal(key)" [ngClass]="{'highlighted': key === highlightedTeam}">
          <td>
            {{i+1}}
          </td>
          <td>
            {{key}}
          </td>
          <td>
            {{formatingUtil.formatTime(raceInfo[key].totalTime)}}
          </td>
          <td>
            {{formatingUtil.formatTime(raceInfo[key].average,true)}}
          </td>
          <td>
            {{formatingUtil.formatTime(raceInfo[key].spread,true)}}
          </td>
          <td class="relative">
            {{raceInfo[key].score}}
            <button (click)="stopPropagation()" mat-icon-button [matMenuTriggerFor]="menu" class="float-right team-menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="showGroupingModal(key)">
                <mat-icon>group</mat-icon>
                {{raceLogic.currentGroups[key] ? 'Ungroup' : 'Group'}}
              </button>
              <button mat-menu-item (click)="highlightTeam(key)">
                <mat-icon>highlight</mat-icon>
                {{highlightedTeam === key ? 'Un Highlight' : 'Highlight'}}
              </button>
            </mat-menu>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</mat-expansion-panel>
<div class="content">
  <br />
  <div class="center">
    <h1>{{title}}</h1>
    <h3 *ngIf="desc">{{desc}}</h3>
  </div>
  <br />
  <div (click)="headerInfoExpanded = false;" cdkDropList (cdkDropListDropped)="dropLogic.drop(this,$event)" class="container">
    <table id="tblResult" class="mat-elevation-z8">
      <thead>
        <tr>
          <th></th>
          <th *ngFor="let key of resultKeys">
            {{key}}
          </th>
        </tr>
      </thead>
      <tbody>
        <!-- matTooltip behaves a little different on mobile -->
        <tr  
          *ngFor="let result of results;let i = index" 
          cdkDrag
          (cdkDragStarted)="closeHeaderInfo()" 
          (click)="showModifyModal(i)" 
          [ngClass]="{'highlighted': (highlightedTeam && (result['TEAM'] === highlightedTeam || raceLogic.groupingData[result['TEAM']] === highlightedTeam))}" > 
            <td>
              <div cdkDragHandle
                matTooltip="drag here to tweak results" matTooltipShowDelay="800"
                matTooltipHideDelay="300"
              >
                <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
                  <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
                  <path d="M0 0h24v24H0z" fill="none"></path>
                </svg>
<!--                 <svg aria-hidden="true" focusable="false" data-prefix="fad" data-icon="sort-alt" class="svg-inline--fa fa-sort-alt fa-w-12" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                  <g class="fa-group">
                    <path class="fa-secondary" fill="currentColor" d="M379.29 132.69l-80-96a16 16 0 0 0-22.62 0l-80 96C186.65 142.74 193.78 160 208 160h48v304a16 16 0 0 0 16 16h32a16 16 0 0 0 16-16V160h48c14.19 0 21.36-17.24 11.29-27.31z" opacity="0.4"></path>
                    <path class="fa-primary" fill="currentColor" d="M176 352h-48V48a16 16 0 0 0-16-16H80a16 16 0 0 0-16 16v304H16c-14.19 0-21.36 17.24-11.29 27.31l80 96a16 16 0 0 0 22.62 0l80-96C197.35 369.26 190.22 352 176 352z" opacity="0.4"></path>
                  </g>
                </svg> -->
              </div>
            </td>
          <td *ngFor="let key of resultKeys">
            {{result[key]}}
            <span *ngIf="key === 'TEAM' && raceLogic.groupingData[result[key]]">
              ({{raceLogic.groupingData[result[key]]}})
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<br />