@import '~@angular/material/prebuilt-themes/indigo-pink.css';

/* Add application styles & imports to this file! */
body {
  /*font-family:Roboto, Arial, sans-serif;*/
  font-family: 'Open Sans', sans-serif;
}

.center {
  text-align:center;
}

.mat-grid-tile .mat-figure {
  align-items:stretch!important;
}

.primary-color {
  color:#3f51b5;
}

.float-right {
  float:right;
}

.relative {
  position:relative;
}
